[Unit]
Description=Simple Password storing daemon
Requires=
After=

[Service]
PIDFile=/run/passwordd.pid
ExecStartPre=/bin/rm -f /run/passwordd.pid
ExecStart=/usr/bin/passwordd
Restart=on-failure

[Install]
WantedBy=multi-user.target
