[Unit]
Description=Simple Password synchronisation daemon
After=passwordd

[Service]
PIDFile=/var/run/passwordd.pid
ExecStart=/usr/bin/passworddsync

[Install]
WantedBy=multi-user.target
