[Unit]
Description=Simple Password synchronisation daemon
After=passwordd

[Service]
ExecStart=/usr/bin/passworddsync

[Install]
WantedBy=multi-user.target
