[Unit]
Description=Simple Password synchronisation daemon
After=network-online.target
Wants=network-online.target
Requires=passwordd.service

[Service]
ExecStartPre=/bin/sleep 15
ExecStart=/usr/bin/passworddsync-script start
ExecStop=/usr/bin/passworddsync-script stop
ExecStartPost=/bin/sleep 5

[Install]
WantedBy=multi-user.target
